.id{
    background-color: cornflowerblue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li {
    display: inline;
    margin: 0px 40px;
    margin-right: 100px;
  }
  .nav li  {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
    
  }
  .nav h1 {
    color: brown;
    font-size: 30px;
    margin-left:10px;
  }
  .navul li:hover  {
    border: 1px solid #f521a4;
    padding: 5px;
  }